<h1>Stupid coaching </h1>
<p> <strong> Your question is: </strong> <%= @ask %> </p>
<p> <strong> Coach says: </strong> <%= @answer %> </p>


<%= link_to 'Ask another question', ask_path %>

<%# <%# The answer.html.erb will display the question you ask your %>
<%# coach as well as his answer.  %>
